<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <main>
      <div>
        <h1>Ici le tp2 sur les requete javascripts </h1>
      </div>


      <div class = "container-fluid">
        <div class = "row">
          <div class = "col-md-12" id="paragraphe">
            <h2 id="loren">Ici un paragaphe loren ipsum </h2>
              <p id="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a urna vehicula, mattis arcu quis, posuere lorem. Mauris bibendum erat at tortor consequat luctus. Ut mollis ex et tellus dictum congue. Vivamus fringilla nec augue nec euismod. Maecenas est leo, facilisis id augue ac, tristique congue magna. Aliquam pulvinar suscipit efficitur. In malesuada feugiat dolor, eu fermentum dui venenatis at. Pellentesque turpis nisl, volutpat nec felis non, luctus pretium mi.</p>
          </div>
        </div>
        <div class = "row" id="rowList">
          <div class = "col-md-6" id="liste1">
            <h2 class="title" id="titre1">Ici une liste </h2>
            <ol id="ol1">
              <li id="list1"> liste 1 </li>
              <li id="list2">liste 2</li>
              <li id="list3">liste 3</li>
            </ol>
          </div>
          <div class = "col-md-6" id="liste2">
            <h2 class="title" id="titre2">Ici une autre liste</h2>
            <ul id="ul2">
              <li id="resultat1">resultat 1</li>
              <li id="resultat2">resultat 2</li>
              <li id="resultat3">resultat 3</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class = "col-md-12">
            <div id="frameInsert">
              <input type="button" value="DIV" onclick="insertB('div')"/>
              <input type="button" value="P" onclick="insertB('p')"/>
              <input type="button" value="H2" onclick="insertB('h2')"/>
              <input type="text" id="toInsert"/>
            </div>
          </div>
        </div>

        </div>
      </div>
    </main>
  </body>

  <script src="tp2.js"></script>

</html>



<style>

h1{
    text-align: center;
    background:#FFC8C8;

}

title{
  border-radius : 15px 50px;
  border: 2px solid;
  border-color : black;
}
.list{
    border-radius : 15px 50px;
}

</style>

<script type="text/javascript">

</script>

